.agenda-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 14px;
}
.agenda-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px 30px;
}
.grid-navbar-container {
  display: flex;
  align-items: center;
  height: 40px;
}
.scheduler-container {
  display: flex;
  max-width: 1680px;
  margin-top: 20px;
  width: 100%;
}

.scheduler-time-container {
  margin-top: 20px;
}
.scheduler-timeless-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.scheduler-grid-header {
  justify-content: flex-end;
  display: flex;
  height: 20px;
  margin-left: 46px;
}
.scheduler-grid-header-day-names {
  font-weight: 600;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
}

.grid-cell {
  display: flex;
  flex-direction: column;
  background: var(--c-bg-white);
  height: 100px;
  padding: 3px 0px 0 3px;
}

.grid-cell-day {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.grid-cell:hover {
  background: var(--c-bg-gray);
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .scheduler-container {
    margin-top: 0px;
  }
  .scheduler-time-container {
    margin-top: 0px;
  }
  .agenda-body {
    width: 100%;
    padding: 0px 15px;
  }
}
