@import url("../../Assets/fonts/Gilroy/Gilroy.css");

.agenda-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.agenda-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 56px);
  color: #4a545d;
  border-top-left-radius: 12px;
}
.agenda-scheduler-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 840px;
  width: 90%;
}
.agenda-scheduler {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Toolbar kısımısı koyu renkliler renkliler*/
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #4a545d !important;
  font-family: "Gilroy", sans-serif !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #4a545d !important;
  font-weight: 600 !important;
  font-size: medium !important;
}

.css-1y942vo-MuiButtonBase-root-MuiButton-root {
  font-size: medium !important;
  color: #4a545d !important;
  font-family: "Gilroy", sans-serif !important;
}

.css-1v994a0,
.css-1v994a0,
.css-ub1r1,
.css-m1gykc,
.css-1umqo6f {
  font-family: "Gilroy", sans-serif !important;
}
.css-68o8xu {
  color: #4a545d !important;
  font-family: "Gilroy", sans-serif !important;
}

.css-1ujsas3 {
  color: #4a545d !important;
  font-family: "Gilroy", sans-serif !important;
}

.css-1x5jdmq {
  color: #4a545d !important;
  font-family: "Gilroy", sans-serif !important;
}

.css-yvbg89,
.css-b7766g,
.css-62dh81 {
  color: #4a545d !important;
  font-family: "Gilroy", sans-serif !important;
  font-weight: 600 !important;
  font-size: small !important;
}

.css-llvhl4-MuiTypography-root {
  color: #4a545d !important;
  font-family: "Gilroy", sans-serif !important;
  font-weight: 600 !important;
  font-size: small !important;
}

/* Toolbarın altı */
.css-1edlcpn {
  margin-top: 10px !important;
  background-color: white !important;
}

/* Toolbarın altının bir altı kajsdhş */
.css-16em9np:first-of-type {
  border-width: 0px 0px 0px 0px !important;
}

/* Month sekmesi, Tablonun ilk hücresi, görünmez yaptım */
.rs__cell:first-child {
  background: #f1f3ff !important;
  border-width: 0px 0px 0px 0px !important;
}

.css-fpqwey {
  font-family: "Gilroy", sans-serif !important;
  font-weight: 600 !important;
}
.css-1ypfif-MuiTypography-root {
  font-family: "Gilroy", sans-serif !important;
  font-weight: 600 !important;
  font-size: medium !important;
}

/* Üst kısımda haftanın günleri kısmı */
.rs__header {
  border-width: 0px 0px 0px 0px !important;
  background: #f1f3ff !important;
}

/* Month sekmesi saatler */
.rs__time {
  align-items: start !important;
  border-width: 0px 0px 0px 0px !important;
  background: #f1f3ff !important;
}

.css-16em9np .rs__cell.rs__header > :first-of-type {
  font-weight: 600;
}

.css-fpqwey .rs__cell.rs__header > :first-of-type {
  font-weight: 600;
}
/* Month sekmesi saatler renk font falan */
.MuiPickersCalendarHeader-switchHeader,
.MuiTypography-caption {
  color: #4a545d;

  font-size: small !important;

  font-family: "Gilroy", sans-serif !important;
}
.css-1ujsas3,
.css-1ujsas3 {
  font-weight: 600 !important;
}
.MuiTypography-body1 {
  font-family: "Gilroy", sans-serif !important;
}

.MuiTypography-subtitle1,
.MuiTypography-h4,
.MuiTypography-h3,
.MuiTypography-h6 {
  font-family: "Gilroy", sans-serif !important;
}

.MuiPickersDay-daySelected,
.MuiPickersClockPointer-pointer,
.MuiPickersClock-pin,
.MuiPickersClockPointer-thumb,
.MuiPickersClockNumber-clockNumberSelected {
  background-color: #3a2416;
  font-family: "Gilroy", sans-serif !important;
}

.MuiPickersCalendarHeader-iconButton {
  background-color: #3a2416;
  font-family: "Gilroy", sans-serif !important;
}

.MuiOutlinedInput-inputAdornedEnd,
.MuiFormLabel-filled {
  font-family: "Gilroy", sans-serif !important;
}

.MuiTypography-noWrap,
._2mqV6nb5wT63-eyCtNsXhI {
  color: #2a3035 !important;
}

._2fDFJ9JSJQ3pH1lK4KAPXZ,
._1X-ObWNBLkVJe2XZ1LpxUK,
.MuiPaper-elevation8,
._2MRGbqe3OI-tqpCZx3pyVv {
  background-color: #3a2416;
}

.MuiButtonBase-root {
  background-color: #3a2416;
}

.MuiTypography-noWrap {
  color: #f59120;
}

._1X-ObWNBLkVJe2XZ1LpxUK {
  padding: 0px;
}

._2fDFJ9JSJQ3pH1lK4KAPXZ {
  padding: 8px;
}

.MuiSvgIcon-root,
.MuiTypography-noWrap {
  font-family: "Gilroy", sans-serif;
}
