.scheduler-week-container {
  box-sizing: border-box;
  display: flex;
  height: 600px;
  width: 100%;
  overflow-y: auto;
  background-color: var(--c-bg-gray);
}

.week-time-cell-container {
  height: fit-content;
  background-size: contain;
  flex-direction: column;
  background-color: var(--c-bg-white);
  width: 50px;
  font-weight: 600;
  border-bottom: 1px solid var(--c-bg-white);
}

.week-time-cell {
  height: 46px;
  display: flex;
  flex-direction: row;
  margin-top: 1px;
}

.scheduler-week-grid-cell-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));

  font-weight: 500;
}

.grid-week-event {
  position: relative;

  font-weight: 600;
  font-size: 13px;
  padding: 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.grid-week-event-overview {
  position: absolute;
  left: 50%;
}

.week-grid-col-item {
  height: 46px;
  margin: 1px;
  background: var(--c-bg-white);
}
.week-grid-col-item:hover {
  background: var(--c-bg-white-hover);
  cursor: pointer;
}
