*,
*:before,
*:after {
  box-sizing: inherit;
}
.add-patient-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 70%;
  background: var(--c-bg);
  color: var(--c-black);
  border-radius: 10px;
}

.add-patient-body {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.add-patient-personal-container {
  display: flex;
  flex-direction: column;
  height: 40%;

  border-radius: 12px;
  padding: 5px;
  margin-bottom: 3px;
}
.add-patient-personal-container-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.add-patient-text-input-container {
  display: flex;
  justify-content: space-between;
}
.add-patient-text-input-cols {
  font-weight: 600;
  width: 30%;
  font-size: 11px;
}

.add-patient-permit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 14px;
}
.add-patient-permit-title {
  font-weight: 600;
  font-size: 14px;
}

.add-patient-dob-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  height: 60px;
  font-size: 14px;
}
.add-patient-date-picker {
  background: none;
  border-radius: 12px;
  font-size: 12px;
  text-align: center;
  height: 30px;
  margin-top: 5px;
  width: 120px;
}
.calendar-icon {
  position: absolute;
  top: 28px;
  left: 20px;
}
.add-patient-dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  height: 60px;
}
.add-patient-dropdown-menu {
  width: 80px;
  font-size: 14px;
  background: none;
  border-radius: 12px;
  margin-top: 5px;
}

.add-patient-devices-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 40%;
  border: 1px solid #cbccdb;
  border-radius: 12px;
  padding: 5px;
}
.add-patient-devices-container-title {
  font-weight: 800;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 5px;
}

.add-patient-devices {
  justify-content: space-between;
  display: flex;
  font-weight: 600;
  font-size: 14px;
}
.add-patient-devices-right {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.add-patient-devices-left {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.add-patient-devices-right-title {
  color: var(--c-danger);
  margin-bottom: 10px;
}
.add-patient-devices-body {
  display: flex;
  margin-bottom: 5px;
}
.add-patient-devices-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.add-patient-devices-left-title {
  color: var(--c-info);
  margin-bottom: 5px;
}
.add-patient-warranty-start {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-patient-warranty-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  width: 50%;
}

.add-patient-warranty-duration {
  display: flex;
  flex-direction: column;
}

.add-patient-notes {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-weight: 600;
  font-size: 14px;
}

.add-patient-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.patients-add-patient-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--c-brand);
  margin: 20px;
  width: 50px;
  height: 50px;
  border-radius: 12px;
}

.add-patient-btn-container-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  border-radius: 12px;
  cursor: pointer;
}

.add-patient-btn-container-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  font-weight: 400;
  border-radius: 12px;
  cursor: pointer;
}

.add-patient-btn-container-cancel:hover {
  background: #f7f9ff;
}
.add-patient-btn-container-submit:hover {
  background: #f7f9ff;
}

.add-patient-cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  position: absolute;
  background: var(--c-danger);
  top: -30px;
  right: -30px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px 1px var(--c-danger);
}

@media only screen and (max-width: 1180px) {
}
@media only screen and (max-width: 1366px) and (min-width: 1181px) {
}

@media only screen and (min-width: 1367px) {
}
