.patient-overview-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 528px;
  background: #fff;
  height: 100vh;
  color: #252525;
  padding: 30px;
}

.patient-overview-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  transition: transform 0.2s ease-in-out;
}
.patient-overview-close:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.patient-overview-header {
  border-bottom: 3px solid #f9f9f9;
}

.patient-overview-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
}

.patient-overview-ssn {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
}

.patient-overview-hearingaid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.patient-overview-hearingaids {
  display: flex;
  color: #3e3e3e;
}

.patient-overview-hearingaid-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.patient-overview-hearingaid-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.patient-overview-hearingaid-right-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  border-bottom: 3px solid #ff6962;
  color: #ff6962;
  height: 50px;
}
.patient-overview-hearingaid-left-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 600;
  border-bottom: 3px solid #3d99dc;
  color: #3d99dc;
  height: 50px;
}

.patient-overview-hearingaid-brand {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin-top: 10px;
}

.patient-overview-hearingaid-modal {
  display: flex;
  flex-direction: column;

  font-size: 16px;
}

.patient-overview-hearingaid-sn {
  font-style: italic;
  font-size: 14px;
}

.patient-overview-details-container {
  display: flex;
  flex-direction: column;
}

.patient-overview-titles {
  display: flex;
  align-items: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}

.patient-overview-content-container {
  display: flex;
  flex-direction: column;
}

.patient-overview-content:first-child {
  display: flex;
}
.patient-overview-content {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  border-bottom: 3px solid #f9f9f9;
  font-size: 14px;
}
.patient-overview-content-key {
  display: flex;
  width: 120px;

  font-weight: 600;
}

.patient-overview-content-value {
  justify-content: flex-end;
  text-align: end;
  color: #3e3e3e;
  display: flex;
  width: 100%;
}
.patient-overview-footer {
  align-items: flex-end;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  color: #3e3e3e;
}

.patient-overview-edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: 70px;
}
.patient-overview-edit-btn:hover {
  cursor: pointer;
  background: #ffa56a;
  transition: 0.3s ease-in-out;
  color: #252525;
}

.patient-overview-calendar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}
.patient-overview-calendar-btn:hover {
  cursor: pointer;
  background: #c5caff;
  transition: 0.3s ease-in-out;
  color: #252525;
}

.patient-overview-trash-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}
.patient-overview-trash-btn:hover {
  cursor: pointer;
  background: #ff6962;
  transition: 0.3s ease-in-out;
  color: #252525;
}

.patient-overview-footer-btn:hover {
  cursor: pointer;
  background: #f9f9f9;
}

@media only screen and (max-width: 1180px) {
  .patient-overview-hearingaid-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .patient-overview-name {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
  }
  .patient-overview-ssn {
    font-size: 14px;
    font-weight: 400;
  }

  .patient-overview-content-key {
    font-size: 14px;
    font-weight: 500;
  }
  .patient-overview-content-value {
    font-size: 12px;
  }
  .patient-overview-hearingaid-right-title {
    font-weight: 600;
    color: #ff6962;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .patient-overview-hearingaid-left-title {
    font-weight: 600;
    color: #3d99dc;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .patient-overview-hearingaid-brand {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 14px;
  }
  .patient-overview-hearingaid-modal {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
  }
  .patient-overview-hearingaid-sn {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1181px) {
  .patient-overview-hearingaid-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .patient-overview-name {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
  }
  .patient-overview-ssn {
    font-size: 14px;
    font-weight: 400;
  }

  .patient-overview-content-key {
    font-size: 14px;
    font-weight: 500;
  }
  .patient-overview-content-value {
    font-size: 12px;
  }
  .patient-overview-hearingaid-right-title {
    font-weight: 600;
    color: #ff6962;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .patient-overview-hearingaid-left-title {
    font-weight: 600;
    color: #3d99dc;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .patient-overview-hearingaid-brand {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 14px;
  }
  .patient-overview-hearingaid-modal {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
  }
  .patient-overview-hearingaid-sn {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1367px) {
}
