.patient-overview-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background: var(--c-bg-white);
  height: calc(100% - 75px);

  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 100;
}

.patient-overview-patient-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.patient-overview-header {
  font-size: 13px;
  display: flex;
  min-width: 270px;
}
.patient-overview-close {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  height: 40px;
  width: 40px;

  transition: transform 0.2s ease-in-out;
}

.patient-overview-close:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.patient-overview-address {
  display: flex;
  color: var(--c-neutral-400);
}

.patient-overview-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
}
.patient-overview-dob {
  color: var(--c-neutral-500);
}

.patient-overview-ssn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
.patient-overview-additional {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-weight: 600;
  color: var(--c-neutral-900);
}
.patient-overview-age-gender {
  color: var(--c-neutral-500);
  font-size: 13px;
  margin-left: 10px;
}

.patient-overview-hearingaid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.patient-overview-hearingaids {
  display: flex;
  color: #3e3e3e;
}

.patient-overview-hearingaid-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.patient-overview-hearingaid-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.patient-overview-hearingaid-right-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  border-bottom: 3px solid #ff6962;
  color: #ff6962;
  height: 50px;
}
.patient-overview-hearingaid-left-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 600;
  border-bottom: 3px solid #3d99dc;
  color: #3d99dc;
  height: 50px;
}

.patient-overview-hearingaid-brand {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin-top: 10px;
}

#left-brand-modal {
  display: flex;
  align-items: flex-end;
}

.patient-overview-hearingaid-modal {
  display: flex;
  flex-direction: column;

  font-size: 16px;
}

.patient-overview-hearingaid-sn {
  font-style: italic;
  font-size: 14px;
}

.patient-overview-details-container {
  display: flex;
  flex-direction: column;
}

.patient-overview-titles {
  display: flex;
  align-items: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}

.patient-overview-content-container {
  display: flex;
  flex-direction: column;
}

.patient-overview-content:first-child {
  display: flex;
}
.patient-overview-content {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  border-bottom: 3px solid #f9f9f9;
  font-size: 14px;
}
.patient-overview-content-key {
  display: flex;
  width: 120px;

  font-weight: 600;
}

.patient-overview-content-value {
  justify-content: flex-end;
  text-align: end;
  color: #3e3e3e;
  display: flex;
  width: 100%;
}
.patient-overview-footer {
  align-items: flex-end;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  color: #3e3e3e;
}

.patient-overview-edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: 70px;
}
.patient-overview-edit-btn:hover {
  cursor: pointer;
  background: #ffa56a;
  transition: 0.3s ease-in-out;
  color: #252525;
}

.patient-overview-calendar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}
.patient-overview-calendar-btn:hover {
  cursor: pointer;
  background: #c5caff;
  transition: 0.3s ease-in-out;
  color: #252525;
}

.patient-overview-trash-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}
.patient-overview-trash-btn:hover {
  cursor: pointer;
  background: #ff6962;
  transition: 0.3s ease-in-out;
  color: #252525;
}

.patient-overview-footer-btn:hover {
  cursor: pointer;
  background: #f9f9f9;
}

@media (max-width: 991.98px) {
  .patient-overview-container {
    height: 95%;
  }
}
