.patients-cointainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.patients-body {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  width: 100%;
  max-width: 1680px;
}

.patients-body:focus {
  outline: none;
}

.patients-body-navbar {
  display: flex;
  height: 65px;
}
.patients-body-navbar-tabs {
  display: flex;
  align-items: center;
  height: 100%;

  width: 70%;
}
.patients-body-navbar-tab {
  color: var(--c-gray);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.patients-body-navbar-tab-active {
  color: var(--c-black);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.patients-body-patient-list {
  width: 100%;
}
.patients-list-and-overview {
  display: flex;
  justify-content: space-between;
}

.patients-body-overview {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background: var(--c-black-opaque);

  width: 100%;
  height: 100%;
  right: 0;
  animation: overview-reveal 0.2s ease-in-out 1 both;
}

@keyframes overview-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.patients-patients-list-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.patients-patients-list-footer {
  color: var(--c-gray);
  font-size: 14px;
  font-weight: 600;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  height: 100px;
}

.patients-patients-list-footer {
  width: 100%;
}

.patients-add-patient-btn-container {
}
.patients-add-patient-btn {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 175px;
  height: 60px;
  font-size: 13px;
  border-radius: 12px;
  color: var(--c-bg);
  font-weight: 600;
  background: var(--c-brand);
  cursor: pointer;
}

.add-patient-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--c-black-opaque);
  backdrop-filter: blur(1px);
}
