.patient-table-container {
  height: 100%;
  width: 100%;
  font-size: 14px;
  overflow-y: scroll;
}

.patient-table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}
.patient-table thead {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.patient-table th {
  padding: 0px 16px;
  position: sticky;
  top: 0px;
  font-weight: 600;
  font-size: 12px;
  height: 45px;
  text-align: left;
  color: var(--c-neutral-600);
  background: var(--c-bg-table-header);
  border-bottom: 3px solid var(--c-neutral-300);
}

.patient-table th:not(:first-child) {
  text-align: center;
}
.patient-table tr:not(:first-child) {
  text-align: center;
}

.patient-table th:nth-child(1) {
}

.patient-table tr:nth-child(odd) td {
  background: #fcfcfc;
}

.patient-table td {
  color: var(--c-neutral-900);
  font-size: 13px;
  height: 48px;
  background: #fff;
  text-align: center;
  transition: background 0.2s ease-in-out;
  padding-left: 16px;
}
.patient-table td:first-child {
  text-align: left;
}

.patient-table tr:hover td {
  background: #efefef;
  cursor: pointer;
}
