.patients-cointainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.patients-body {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  height: calc(100% - 56px);
  width: 100%;
  max-width: 1680px;
}
.patients-body-patient-list {
  width: 70%;
}

.patients-body-overview {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.patients-patients-list-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.patients-patients-list-footer {
  color: #767e98;
  font-size: 14px;
  font-weight: 600;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  height: 100px;
}

.patients-add-patient-btn-container {
  width: 160px;
  margin-left: auto;
  margin-bottom: 30px;
}
.patients-add-patient-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 40px;
  font-size: 18;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  background: #60cca9;
  border: 1px solid #4ec69f;

  cursor: pointer;
}

.add-patient-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
