.patients-cointainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.patients-body-overview::before {
  pointer-events: none;

  display: block;
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--c-black-opaque);
  left: 0px;
  top: 0px;
  backdrop-filter: blur(1px);
}

.patients-body {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  width: 100%;
  max-width: 1680px;
  color: var(--c-neutral-1000);
}

.patients-body-list-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.patients-body-patients-list-container {
  border-radius: 12px;
  height: 600px;
  width: 90%;
  overflow: hidden;
  background: var(--c-bg-white);
}

.patients-body-list {
  height: calc(100% - 72px);
}
::-webkit-scrollbar {
  display: none;
}

.patients-body-list-footer {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px;
  height: 72px;

  border-top: 3px solid var(--c-neutral-100);
}
.patients-body-list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.patients-body-list-add-button {
  gap: 10px;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  border-radius: 12px;
  color: var(--c-white);
  background: var(--c-green-300);
}

.patients-body-overview {
  display: flex;
  align-items: flex-end;
  height: 100%;
  position: absolute;
  width: 100%;
}

@media (max-width: 767.98px) {
  .patients-body-list-footer {
    padding: 0px 16px;
  }

  .patients-body-patients-list-container {
    width: 327px;
    height: 442px;
  }
}
