.messages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.messages-body {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1680px;
  height: calc(100% - 56px);
  background: #f1f3fe;
  color: #64748b;
  border-top-left-radius: 12px;
}
