.agenda-container {
  color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 14px;
}
.agenda-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.grid-navbar-container {
  display: flex;
  align-items: center;
  height: 40px;
  color: #252525;
}
.scheduler-container {
  display: flex;
  max-width: 1680px;
  margin-top: 20px;
  width: 100%;
}

.scheduler-time-container {
  margin-top: 20px;
}
.scheduler-timeless-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.scheduler-grid-header {
  justify-content: flex-end;
  display: flex;
  height: 20px;
  margin-left: 46px;
}
.scheduler-grid-header-day-names {
  font-weight: 600;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
  border-bottom: 2px solid #f8f8f8;
}

.grid-cell {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100px;
  padding: 3px 0px 0 3px;
}

.grid-cell-day {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.grid-cell:hover {
  background: #f8f8f8;
  cursor: pointer;
}
