.scheduler-month-grid-cell-container {
  display: inline-grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  grid-gap: 2px;
  background-color: #f8f8f8;
  border: 2px solid #f8f8f8;
}

.grid-month-event {
  position: relative;
  color: #252525;
  font-weight: 600;
  font-size: 13px;
  padding: 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.grid-month-event:hover {
  cursor: pointer;
}

.grid-month-event-overview {
  z-index: 5000;
  position: absolute;
  left: 50%;
}
