.chartjs-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  height: 300px;
  width: 100%;
  padding: 10px 0px;
  border-radius: 12px;
  box-shadow: var(--c-shadow);
  background: var(--c-bg);
}

.chart-header {
  width: 100%;
  padding: 0px 10px;
  margin-bottom: 10px;
}

@media (max-width: 767.98px) {
  .chartjs-container {
    height: 150px;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .chartjs-container {
    height: 250px;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
}
