.chat-active-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 3px);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;

  margin-left: 3px;
  background: var(--c-bg-white);
}

.chat-active-message-container {
  height: 100%;
}

.chat-active-footer {
  height: 60px;
  width: 100%;
}

.chat-active-message-end {
  font-weight: 600;
  color: var(--c-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
