.chat-active-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-active-message-container {
  height: calc(100% - 60px);
  margin-top: auto;
  overflow-y: scroll;
  padding: 10px;
}
.chat-active-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  align-items: flex-start;
}

#me {
  align-items: flex-end;
}

#me > .chat-active-message-messages {
  justify-content: flex-end;
  color: #fff;
  background: #4285f4;
  padding-right: 10px;
}

.chat-active-footer {
  height: 60px;
  width: 100%;
}

.chat-active-message-messages-sender {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.chat-active-message-messages {
  display: flex;
  align-items: center;
  height: 30px;
  background: #f2f2f2;
  border-radius: 25px;
  margin-bottom: 5px;
  padding: 0px 10px;
}

.chat-active-message-messages-date {
  color: #b3b5ba;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  justify-content: flex-end;
}

.chat-active-message-end {
  font-weight: 600;
  color: #b3b5ba;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
