.chat-channel-container {
  width: 300px;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0px 12px;
}

.chat-channel-icon {
  color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.chat-channel-sender {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 19px;
  font-size: 15px;
}

.chat-channel-message {
  color: #767e98;
  display: flex;
  align-items: center;
  height: 16px;
  font-size: 13px;
}

.chat-channel-pp {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.chat-channel-body {
  width: 160px;
}

.chat-channel-seen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40px;
  height: 80%;
  margin-left: auto;
}

.chat-channel-date {
  color: #b3b5ba;
  display: flex;
  font-size: 12px;
  font-weight: 600;
}

.chat-channel-options-btn {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: 2px solid #f9f9f9;
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.chat-channel-container:hover {
  cursor: pointer;
}

.chat-channel-container:hover > .chat-channel-options-btn {
  cursor: pointer;
  opacity: 1;
}

.chat-channel-options-btn:hover {
  background: #f9f9f9;
}
