.chat-channel-container {
  width: 300px;
  height: 72px;
  display: flex;
  align-items: center;
}

.chat-channel-sender {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 19px;
  font-size: 15px;
}

.chat-channel-message {
  color: #767e98;
  display: flex;
  align-items: center;
  height: 16px;
  font-size: 13px;
}

.chat-channel-icon {
  color: #767e98;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 12px;
}
.chat-channel-body {
  width: 160px;
}

.chat-channel-seen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  margin-left: auto;
}

.chat-channel-options-btn {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.chat-channel-container:hover {
  cursor: pointer;
}

.chat-channel-container:hover > .chat-channel-options-btn {
  cursor: pointer;
  opacity: 1;
}

.chat-channel-options-btn:hover {
  background: #f2f2f2;
}
