.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.chat-body {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: calc(100% - 40px);
  max-width: 1680px;
  padding: 15px;
  background: var(--c-bg-gray);

  border-radius: 16px;
}

.chat-inbox-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.chat-active-wrapper {
  display: flex;
}
