.chat-inbox-panel {
  height: 100%;
  width: 100%;

  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;

  background: var(--c-bg-white);
}

.chat-search-contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 80px;
}

.chat-channels-wrapper {
  width: 300px;
  padding-right: 10px;
}
