.chat-inbox-panel {
  height: 100%;
  width: 100%;
}

.chat-search-contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  height: 80px;
}

.chat-channels-wrapper {
  height: calc(100% - 80px);
  width: 300px;
  padding-right: 10px;
}
