.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.chat-body {
  box-sizing: border-box;
  display: flex;
  height: calc(100% - 67px);
  width: 100%;
  max-width: 1680px;
}

.chat-inbox-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.chat-active-wrapper {
  box-sizing: border-box;
  display: flex;

  height: 100%;
  border-left: 2px solid #f8f8f8;
}
