.dashboard-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 40px;
  height: 40px;
  position: relative;
  opacity: 0.8;
}

.dashboard-button {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.dashboard-add {
  position: absolute;
  top: 0;
  padding: 3px;
  right: 0;
}
.dashboard-button-container:hover {
  opacity: 1;
  cursor: pointer;
}
