.upcoming-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  margin: 20px 0px;
  flex: 1;
  overflow-y: hidden;
  border-radius: 12px;
  min-height: 200px;
  height: 100%;
  background: var(--c-bg-white);
}

.upcoming-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.upcoming-details-btn {
  color: var(--c-neutral-500);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

.upcoming-details-btn:hover {
  cursor: pointer;
  color: var(--c-neutral-1000);
}

@media (max-width: 767.98px) {
  .upcoming-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
}
