.upcoming-container {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 12px;
  box-shadow: var(--c-shadow);
  width: 100%;
}

.upcoming-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.upcoming-details-btn {
  color: var(--c-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

.upcoming-add-btn:hover {
  cursor: pointer;
  background: #cbcfff;
}

.upcoming-list-container {
  height: 100%;
  display: flex;
}

@media (max-width: 767.98px) {
  .upcoming-container {
    width: 100%;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
}
