.datentime-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: #0e0e0e;
  font-weight: 600;
}

.datentime {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 10px;
}

.datentime-icons {
  margin-right: 5px;
  width: 40px;
}

.datentime-content {
  display: flex;
  width: 60px;
  justify-content: flex-start;
}
