.topbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;

  border-bottom: 2px solid #f9f9f9;
}
.topbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
}

.page-name {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
}

.searchfield-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.datentime-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.hamburger-menu-button {
  display: none;
}
@media (max-width: 992px) {
  .hamburger-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 56px;
    height: 56px;
  }
  .topbar-container {
    border-bottom: 2px solid #f9f9f9;
    padding: 0px;
  }
  .datentime-component {
    display: none;
  }

  .searchfield-component {
    width: 60%;
  }

  .topbar {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
  }
  .page-name {
    font-size: 20px;
    margin-left: 0px;
  }
  .searchfield-component {
    height: 100%;
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 10;
    padding: 0px 10px;
  }
}
