.topbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.topbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
}

.page-name {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  color: #0e0e0e;
  width: 30%;
  padding-left: 30px;
}

.searchfield-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.datentime-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding-right: 30px;
}
