.appointment-container {
  height: 100%;
  width: 100%;
  font-size: 14px;
  flex: 1;

  overflow-y: scroll;
}
.appointment-container::-webkit-scrollbar {
  display: none;
}
.appointment-container::-webkit-scrollbar-track {
  display: none;
}

.appointment-container::-webkit-scrollbar-thumb {
  display: none;
}
.appointment {
  display: flex;
  margin: 0px 2px;
  box-shadow: var(--c-shadow);
  margin-bottom: 10px;
  border-radius: 10px;
  height: 120px;
}
.appointment-date-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  color: var(--c-white);
  background: var(--c-black);
  height: 100%;
  border-radius: 10px;
}

.appointment-col {
  flex-direction: column;
  padding: 10px;
  height: 50%;
}
.appointment-time {
  font-weight: 600;
  height: 25px;
  font-size: 16px;
  border-bottom: 1px solid var(--c-white);
  display: flex;
}

.appointment-duration {
  display: flex;
  height: 25px;
  align-items: center;
}
.appointment-date {
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: flex-end;
}

.appointment-details-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px 20px 10px 30px;
}

.patient-name {
  font-weight: 600;
  font-size: 16px;
}

.patient-information {
  font-size: 12px;
  font-weight: 600;
  color: var(--c-gray);
}
.patient-phone {
  font-size: 14px;
  font-weight: 600;
  color: var(--c-gray);
}

.appointment-reason {
  font-weight: 600;
  margin-top: 15px;
}

.appointment-sides {
  color: var(--c-blue);
  font-size: 12px;
  font-weight: 600;
}

.appointment-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 60px;
}
.appointment-button-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: var(--c-check);
}
.appointment-button-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: var(--c-edit);
}
.appointment-button-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: var(--c-cancel);
}

.appointment-button-check:hover {
  cursor: pointer;
  color: #fff;
  background: var(--c-check-hover);
}
.appointment-button-edit:hover {
  cursor: pointer;
  color: #fff;
  background: var(--c-edit-hover);
}
.appointment-button-cancel:hover {
  cursor: pointer;
  color: #fff;
  background: var(--c-cancel-hover);
}

.appointment-to {
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
}

/* iPad 1/3, mobile */
@media (max-width: 767.98px) {
  .appointment-details-container {
    padding: 20px 0px 10px 15px;
  }
  .appointment-reason {
    font-weight: 600;
    margin-top: 20px;
  }
}
/* iPad 2/3 */
@media (min-width: 767.98px) and (max-width: 991.98px) {
}

/* iPad */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
}
