.button-tool {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #fff;
  background: #0e0e0e;
  border-radius: 10px;
}

.button-tool:hover {
  cursor: pointer;
  background: #302c2c;
}
