.repair-form-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 70%;
  background: var(--c-bg);
  border-radius: 12px;
}
.repair-form-body {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.repair-form-header {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}
.repair-upload-container {
  color: var(--c-gray);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  border: 2px dashed var(--c-gray);
  border-radius: 20px;
  margin-bottom: 20px;
}

.repair-form-row {
  display: flex;
  justify-content: space-between;
}

.repair-textinput-container {
  width: 20%;
}
.login-textinput-label {
  font-size: 14px;
}
.login-textinput-input {
  font-size: 14px;
  margin-bottom: 20px;
}
.repair-form-complaint {
}
.repair-form-findings {
}
.repair-form-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.repair-form-carer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.repair-form-carer {
  margin-left: 15px;
  font-size: 20px;
  font-weight: 500;
  color: var(--c-warning);
}
.repair-form-submit-container {
}
.repair-form-carer-title {
}

.repair-add-repairform-btn {
  margin: 0px !important;
}
.repair-cancel-repairform-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 46px;
  position: absolute;
  background: var(--c-danger);
  color: white;
  top: -40px;
  right: -40px;
  border-radius: 50%;
}
.repair-cancel-repairform-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1180px) {
  .repair-form-container {
    height: 600px;
  }
  .login-textinput-label {
    font-size: 12px;
  }
  .login-textinput-input {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .repair-upload-container {
    font-size: 12px;
  }
  .repair-form-footer {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 1366px) and (min-width: 1181px) {
  .repair-form-container {
    height: 600px;
  }
  .login-textinput-label {
    font-size: 12px;
  }
  .login-textinput-input {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .repair-upload-container {
    font-size: 12px;
  }
  .repair-form-footer {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1367px) {
}
