.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  flex-direction: column;
  position: absolute;
  background: #f8f8f8;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  opacity: 0.8;
  z-index: 1;
  border-radius: 12px;
}

.spinner-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  animation: spin 0.7s infinite ease-in-out;
}

.error-message-visible {
  margin-top: 20px;
  animation: error-reveal 1s ease-in;
}
.error-message-invisible {
  margin-top: 20px;
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes error-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
