.tabmenu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabmenu-tabs {
  display: flex;
  height: 30px;
  color: var(--c-secondary);
  width: 100%;
  border-bottom: 1px solid var(--c-border);

  font-weight: 600;
  font-size: 14px;
}

.tabmenu-title {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 100%;
}

.focused-tab {
  color: var(--c-primary);
  border-bottom: 3px solid var(--c-primary);
  border-radius: 3px;
}

.tabmenu-pagename {
  display: none;

  height: 50px;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 991.98px) {
  .tabmenu-pagename {
    display: block;
  }
}
