.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--c-neutral-1000);
  padding: 10px;
  border-radius: 12px;

  width: 200px;
  flex-shrink: 0;
  background: var(--c-bg-white);
}

.card-container:hover {
  background: var(--c-gray-light);
  cursor: pointer;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-icon {
  color: var(--c-neutral-500);
  display: flex;
  height: 34px;
  width: 34px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.card-body {
  display: flex;
  align-items: center;
}
.card-value {
  font-weight: 600;
  font-size: 28px;
}
.card-booked {
  font-weight: 600;
}

.card-title {
  color: var(--c-neutral-500);
  font-weight: 600;
  font-size: 12px;
}

.card-details {
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}

.card-body-left {
  display: flex;
  width: 40%;
  align-items: center;
}

.card-body-right {
  display: flex;
  width: 60%;
  align-items: center;
  color: var(--c-red-300);
  font-weight: 600;
  font-size: 14px;
}
.card-footer {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 600;
  color: var(--c-green-300);
  margin-left: auto;
}
