.card-container {
  display: flex;
  width: 220px;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 12px;
}

.card-left {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 30%;
}
.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 12px;
}
.card-details {
  color: #767e98;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}

.card-title {
  color: #767e98;
  font-weight: 800;
  font-size: 14px;
}

.card-body {
  display: flex;
  align-items: center;
  height: 100%;
}
