.card-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 200px;
  border-radius: 12px;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 12px;
  margin-bottom: 14px;
}

.card-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.card-body {
  display: flex;
  align-items: center;
}
