.card-goal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.card-goal-header {
  display: flex;
  height: 50px;
  align-items: center;
}
.card-goal-goal {
  font-weight: 600;
  font-size: 16px;
}
.card-goal-sold {
  font-weight: 600;
  font-size: 40px;
}

.card-goal-done {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #4ec69f;

  margin-top: auto;
}
