.recent-activity-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-top: 30px;
  border-radius: 12px;
  padding: 20px;
  background: var(--c-bg-gray);
  font-weight: 600;
  height: 350px;
}

.recent-activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

.recent-activity-title {
  height: 100%;
}

.recent-activiy-items {
  height: 100%;
  flex: 1;
  min-height: 300px;
  max-height: 700;
  overflow-y: scroll;
}

.recent-activiy-items::-webkit-scrollbar {
  display: none;
}
