.recent-activity-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  flex: 1;
  margin: 10px 0px 20px 0px;
  box-shadow: var(--c-shadow);
  min-height: 300px;
  padding: 20px;
  font-weight: 600;
  max-height: 500px;
}

.recent-activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  margin-bottom: 10px;
}

.recent-activity-title {
  height: 100%;
}

.recent-activiy-items {
  height: 100%;
  flex: 1;
  min-height: 300px;
  max-height: 700;
  overflow-y: scroll;
}
