.datepicker-month-grid-container {
  display: inline-grid;
  font-size: 10px;
  grid-template-columns: repeat(3, calc(200px / 3));
  height: 100%;
}

.datepicker-month-grid-cell {
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  height: 40px;
}

.datepicker-month-grid-cell:hover {
  cursor: pointer;
  color: var(--c-blue-500);
}
