.button-tool {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: var(--c-white);
  background: var(--c-primary);
  border-radius: 10px;
}

.button-tool:hover {
  cursor: pointer;
}
