.navbar-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 240px;
  font-size: 12px;
  font-weight: 500;
  color: var(--c-primary);
  box-shadow: var(--bs);
  background: var(--c-bg-white);
  /* background: var(--c-bg-gray); */
}
.closed-navbar {
  left: -100% !important;
  position: absolute;
}
.navbar-logo-container {
  box-sizing: border-box;
  display: flex;
  padding: 0px 20px;
  gap: 10px;
  align-items: center;
  font-size: 24px;
  width: 240px;
  height: 180;
  color: var(--c-secondary);
  cursor: pointer;
}

.navbar-logo-brand {
  font-family: "Visby";
  font-weight: 800;
}

@keyframes logo-reveal {
  0% {
    opacity: 0;
    gap: 30px;
  }
  100% {
    opacity: 1;
    gap: 10px;
  }
}

.navbar-logo {
  display: flex;
  height: 56px;
  align-items: center;
}

.navbar-buttons-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--c-secondary);
}

.navbar-buttons {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  cursor: default;
  transition: all 0.1s ease-in-out;
  user-select: none;
  padding-left: 20px;
}
.navbar-buttons-focused {
  color: var(--c-primary);
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  cursor: default;
  user-select: none;
  padding-left: 30px;
  transition: all 0.1s ease-in-out;
}

.navbar-buttons:hover {
  color: var(--c-primary);
  cursor: pointer;
}

.navbar-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.navbar-button-icon-focused {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.navbar-footer {
  display: flex;
  width: 100%;
  margin-top: auto;
  color: var(--c-secondary);
}
.navbar-user-info-container {
  width: 100%;
}
.navbar-user-info {
  display: flex;
  height: 200px;
  margin-top: 30px;
  align-items: center;
}
.navbar-button-logout-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  height: 60px;
  width: 100%;
  transition: all 0.3s;
  padding-left: 20px;
}

.navbar-button-logout {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.navbar-button-logout-container:hover {
  cursor: pointer;
  color: var(--c-primary);
}
.navbar-logout-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}

@media (max-width: 991.98px) {
  .navbar-container {
    position: absolute;
    z-index: 10;
    left: 0px;
    transition: left 0.3s ease-in-out;
  }
  .navbar-user-info {
    display: flex;
    height: 170px;
    align-items: center;
    margin-top: 10px;
  }

  .navbar-container::after {
    pointer-events: none;

    display: block;
    content: " ";
    position: absolute;
    width: calc(100vw - 240px);
    height: 100%;
    background: var(--bg-lg-rtl);
    left: 240px;
    top: 0px;
    backdrop-filter: blur(1px);
    z-index: 99;
  }

  .navbar-button-logout-container {
    width: 70%;
  }

  .navbar-hamburger-container {
    display: block;
  }
}
