.navbar-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 240px;
  font-size: 12px;
  font-weight: 500;
  background: #fff;
  border-right: 2px solid #f9f9f9;
}

.navbar-logo-container {
  box-sizing: border-box;
  display: flex;
  padding: 0px 20px;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 24px;

  width: 240px;
  height: 65px;
  cursor: pointer;
}

@keyframes logo-reveal {
  0% {
    opacity: 0;
    gap: 30px;
  }
  100% {
    opacity: 1;
    gap: 10px;
  }
}

.navbar-logo {
  display: flex;
  height: 56px;
  align-items: center;
}

.navbar-buttons-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #b2b2b2;
}

.navbar-buttons {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  cursor: default;
  transition: all 0.1s ease-in-out;
  user-select: none;
  padding-left: 20px;
}
.navbar-buttons-focused {
  color: #191414;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  cursor: default;
  user-select: none;
  padding-left: 30px;
  transition: all 0.1s ease-in-out;
}

.navbar-buttons:hover {
  cursor: pointer;
}

.navbar-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  color: #b2b2b2;
}

.navbar-button-icon-focused {
  color: #191414;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.navbar-footer {
  display: flex;
  width: 100%;
  margin-top: auto;
}
.navbar-user-info-container {
  width: 100%;
  border-top: 2px solid #f9f9f9;
  border-bottom: 2px solid #f9f9f9;
}
.navbar-user-info {
  height: 80px;
  display: flex;
}
.navbar-button-logout-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  height: 60px;
  width: 100%;
  transition: all 0.3s;
  color: #b2b2b2;
  padding-left: 20px;
}

.navbar-button-collapse-container {
  display: none;
}

.navbar-button-logout {
  color: #b2b2b2;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.navbar-button-logout-container:hover {
  cursor: pointer;
}
.navbar-logout-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  border-radius: 10px;
}

.navbar-collapse-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  border-radius: 10px;
}

.navbar-button-collapse {
  color: #b2b2b2;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

@media (max-width: 991.98px) {
  .navbar-container {
    position: absolute;
    z-index: 10;
    left: 0;

    /* transition: left 1s ease-in-out;
    position: absolute;
    left: -190px;
    background: red; */
  }

  .navbar-container::after {
    pointer-events: none;

    display: block;
    content: " ";
    position: absolute;
    width: calc(100vw - 240px);
    height: 100%;
    background: #00000050;
    left: 240px;
    top: 0px;
    backdrop-filter: blur(1px);
    z-index: 99;
  }

  .navbar-button-collapse-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    height: 60px;
    width: 30%;
    transition: all 0.3s;
    color: #191414;
  }

  .navbar-button-logout-container {
    width: 70%;
  }

  .navbar-hamburger-container {
    display: block;
  }
}
