.navbar-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  width: 240px;
  color: #334155;
  font-size: 12px;
  font-weight: 500;
  border-right: 3px solid #ebf6f8;
  padding-left: 20px;
}

.navbar-logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
  height: 65px;
  color: #0e0e0e;
  width: 100%;
}

.navbar-buttons-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-buttons {
  color: #767e98;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;

  height: 60px;
  width: 100%;
  cursor: default;
  transition: all 0.3s ease-in-out;
  user-select: none;
}
.navbar-buttons-focused {
  color: #0e0e0e;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  cursor: default;
  user-select: none;
}

.navbar-buttons:hover {
  cursor: pointer;
}

.navbar-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  color: #0e0e0e;
}

.navbar-button-icon-focused {
  color: #000234;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  color: #767e98;
}

.navbar-button-logout-container {
  color: #767e98;
  font-size: 14px;
  font-weight: 600;
  height: 80px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-top: auto;
  width: 100%;
  transition: all 0.3s;
  color: #000234;
}

.navbar-button-logout {
  color: #767e98;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: default;

  user-select: none;
}
.navbar-button-logout-container:hover {
  color: #000234;
  cursor: pointer;
}
.navbar-logout-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  border-radius: 10px;
}
