.userinfo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  width: 100%;
  transition: opacity 1s;
  transition-delay: 0.4s;
}

.userinfo-pp-container {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 50%;
  background: var(--c-brand-400);
  /* background: var(--c-bg-white); */
  width: 110px;
  height: 110px;
}

.userinfo-pp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.userinfo-userinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0px;
}
.userinfo-username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  width: 100%;
}

.userinfo-jobtitle {
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 991.98px) {
  .userinfo-pp-container {
    width: 90px;
    height: 90px;
  }
  .userinfo-pp {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 767.98px) {
}
/* iPad 2/3 */
@media (min-width: 767.98px) and (max-width: 991.98px) {
}

/* iPad */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
}
