.reset-password-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;

  transition: opacity 1s ease-in-out;
}

.reset-password-form {
  height: 500px;
  width: 400px;
}

.reset-password-input-and-button {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reset-password-input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.reset-password-message-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.reset-password-message-header {
  font-size: 24px;
  font-weight: 600;
}
.reset-password-message-body {
  margin-top: 5px;
  color: #b3b3b3;
  font-weight: 600;
}

.reset-password-icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.reset-password-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: 00ee0e;
  background: #f2f2f2;
  box-shadow: 0 0 0 12px #f9f9f9;
}

.reset-password-back {
  color: #b3b3b3;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  transition: 0.2s ease-in-out;
  font-size: 14px;
  font-weight: 600;
}

.reset-password-back:hover {
  cursor: pointer;
  color: #0e0e0e;
}
