.sidebartop-container {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidebar-pp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  object-fit: cover;
}

.sidebar-pp {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar-userinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 600;
}

.sidebar-jobtitle {
  font-size: 14px;
}

@media only screen and (max-width: 1180px) {
  .sidebar-pp-container {
    width: 120px;
  }
  .sidebar-userinfo {
    font-size: 18px;
  }
  .sidebar-jobtitle {
    font-size: 14px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 1366px) and (min-width: 1181px) {
  .sidebar-pp-container {
    width: 120px;
  }
  .sidebar-userinfo {
    font-size: 18px;
  }
  .sidebar-jobtitle {
    font-size: 14px;
    font-weight: 400;
  }
}

@media only screen and (min-width: 1367px) {
  .sidebar-pp-container {
    width: 200px;
  }
  .sidebar-userinfo {
    font-size: 20px;
  }
  .sidebar-jobtitle {
    font-size: 18px;
    font-weight: 400;
  }
}
