.dashboard-cointainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.dashboard-body {
  display: flex;
  box-sizing: border-box;
  height: calc(100% - 56px);

  color: #4a545d;
  border-top-left-radius: 12px;
}
.dashboard-content {
  width: 70%;
}

.dashboard-greetings {
  display: flex;
  align-items: center;
  margin: 30px;
  width: inherit;
  height: 100px;
  border-radius: 12px;
}

.dashboard-cards {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.dashboard-upcoming {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.dashboard-sidebar-container {
  width: 30%;
}
