.dashboard-cointainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1680px;
  height: 100%;
  padding: 20px;
}
.dashboard-row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767.98px) {
  .dashboard-body {
    flex-direction: column;
    overflow-y: scroll;
  }
  .dashboard-row {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
}
