.dashboard-cointainer {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.dashboard-tabmenu {
  width: 100%;
  display: none;
  padding-left: 20px;
  padding-top: 20px;
}

.dashboard-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--w-max);
  height: calc(100% - 65px);
  overflow-y: scroll;
}
.dashboard-row {
  width: 100%;
  height: calc(100% - 163px);
  display: flex;
}

.dashboard-col1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 30px;
}
.dashboard-col2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 30px;
}

@media (max-width: 767.98px) {
  .dashboard-body {
    max-width: none;

    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
  }
  .dashboard-col1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
  }
  .dashboard-col2 {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
  }
  .dashboard-row {
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
}
@media (max-width: 992px) {
  .dashboard-tabmenu {
    display: block;
  }
}
