.dashboard-buttons-container {
  background: orange;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1fr;
  height: 200px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, calc(50% - 0.25em));
  grid-template-rows: repeat(2, calc(50% - 0.25em));
  grid-gap: 0.5em;
}
