.login-container {
  user-select: none;
  color: var(--c-neutral-1000);
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.87)), */
  background: linear-gradient(#00bbbb7c, #000000b7),
    url("../../Assets/images/clinic.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-left {
  position: absolute;
  min-height: 712px;
  height: calc(100% - 75px);
  display: flex;
  flex-direction: column;
  padding: 0px 65px;
  width: 526px;
  left: 187px;
  background: var(--c-bg-white);
  animation: reveal-animation 0.5s linear;
}

.login-left-header {
  margin-top: 100px;
  margin-bottom: 54px;
  display: flex;
  width: 240px;
  align-items: center;
  font-weight: 600;
  left: 0;
  font-size: 24px;
  z-index: 499;
}
.login-treat-logo {
  display: flex;
  align-items: center;
  height: 56px;
  transition: height 0.3s;
}

.login-left-wrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-left-body {
  height: 100%;
  width: 400px;
}
.login-left-footer {
  flex-direction: column;
  justify-content: flex-end;
  color: var(--c-neutral-500);
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: calc(100% - 358px);
  padding-bottom: 20px;
}
.login-left-footer-forgot {
  display: flex;
  height: 64px;
  align-items: center;

  border-bottom: 1px solid var(--c-border);
}
.login-left-footer-register {
  display: flex;
  height: 64px;
  align-items: center;
}

.login-left-footer * {
  display: flex;
  transition: 0.1s ease-in-out;
}

.login-left-footer *:hover {
  color: var(--c-neutral-1000);
  cursor: pointer;
}

.login-left-footer *:hover > .login-left-footer-register-btn {
  color: var(--c-violet-500);
  cursor: pointer;
}

.login-left-footer-register-btn {
  color: var(--c-violet-200);
}

.login-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  transition: opacity 1s ease-in-out;
  font-weight: 600;
  font-size: 16px;
  color: var(--c-white);
}

.login-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-bottom: 120px;
  margin-right: 60px;
}

.login-right-title {
  display: flex;
  align-items: center;

  /* background: red; */
}

.login-icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-message-container {
  /* height: 80px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: center;
}

.welcome-message {
  height: 41px;
  font-size: 28px;
  font-weight: 700;
}
.login-message {
  height: 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--c-secondary);
}
.login-input-and-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--c-white) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--c-white) inset !important;
  border: 2px solid var(--c-blue-500);
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 991.98px) {
  .login-left {
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    width: 100%;
    background: var(--c-bg-white);
    z-index: 30;
    left: 0px;
    animation: reveal-animation 0.5s linear;
    padding: 0px 30px;
  }
  .login-left-header {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .login-left-body {
    width: 100%;
  }
  .login-right {
    display: none;
  }
}

/* Medium devices (tablets, less than 992px) */

/* Large devices (desktops, less than 1200px) */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .login-left-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@keyframes reveal-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
