.login-container {
  color: #0e0e0e;
  display: flex;
  height: 100%;
  width: 100%;
}

.login-left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.login-left-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 20px;
  height: 100px;
  font-weight: 600;
  font-size: 24px;
  gap: 10px;
}
.login-treat-logo {
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: height 0.3s;
}
.login-left-wrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-left-body {
  height: 500px;
  width: 400px;
}
.login-left-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b2b2b2;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
}

.login-left-footer * {
  display: flex;
  transition: 0.1s ease-in-out;
}

.login-left-footer *:hover {
  color: #0e0e0e;
  cursor: pointer;
}

.login-left-footer *:hover > .login-left-footer-register-btn {
  color: #7f56da;
  cursor: pointer;
}

.login-left-footer-register-btn {
  color: #b29ae9;
}

.login-right {
  background: #0e0e0e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  transition: opacity 1s ease-in-out;
}

.login-right-wrapper {
  display: flex;
  flex-direction: column;

  height: 600px;
  width: 550px;
}

.login-right-header {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 48px;
  color: #ffffff;

  margin-bottom: 100px;

  /* background: red; */
}

.buttons-row {
  margin-bottom: 10px;
  margin-left: 120px;
  display: flex;
  align-items: center;
}
.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  background: #f8f8f8;
  border-radius: 50%;
  margin-right: 20px;
}

.button-desc {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.lgn-right-icons {
}

.login-icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.login-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;

  background: #f2f2f2;
  box-shadow: 0 0 0 12px #f9f9f9;
}
.login-message-container {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.welcome-message {
  font-size: 48px;
  font-weight: 600;
}
.login-message {
  font-size: 16px;
  font-weight: 600;
  color: #b3b3b3;
}
.login-input-and-button {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company {
  background: red;
  color: white;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;

  width: 100vw;

  mix-blend-mode: difference;
}
.company-name {
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
}
.company-logo {
  width: 50px;
  filter: invert(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #fff inset !important;
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  outline: 1px solid #0e0e0e;
}
/* 
@media screen and (max-width: 1366px) {
  .login-left-header {
    font-size: 30px;
  }

  .login-treat-logo {
    height: 60px;
  }
} */

/* @media (max-width: 376px) {
  .login-left {
    font-size: 30px;
  }

  .login-treat-logo {
    height: 60px;
  }
} */

/* Small devices (landscape phones, less than 768px) */
/* @media (min-width: 767.98px) {
  .login-left-header {
    font-size: 30px;
  }

  .login-treat-logo {
    height: 60px;
  }
} */

/* Medium devices (tablets, less than 992px) */
/* @media (min-width: 991.98px) {
  .login-left-header {
    font-size: 30px;
  }

  .login-treat-logo {
    height: 60px;
  }
}
 */
/* Large devices (desktops, less than 1200px) */
/* @media (min-width: 1199.98px) {
  .login-left-header {
    font-size: 30px;
  }

  .login-treat-logo {
    height: 60px;
  }
} */
