@import url("./Assets/fonts/Gilroy/Gilroy.css");

.App {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #20295a;
  font-family: "Gilroy", sans-serif;
}
