.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fef9f9;
  transition: background-color 2s;
  font-family: 'Poppins', sans-serif ;
  /* font-family: 'Quicksand', sans-serif; */
  font-weight: 400;

}
