.dark {
  color: #0e0e0e;
}

.light {
  --c-black: green;
  --c-bg: red;
  --c-gray: blue;

  --c-brand-100: #76c2d2;
  --c-brand-200: #48aec3;
  --c-brand-300: #1a9ab4;
  --c-brand-400: #157b90;
  --c-brand-500: #105c6c;
  --c-brand-600: #0a3e48;

  --c-white: #fff;

  --c-gray-light: #f7f7f7;
  --c-gray-100: #e1e1e1;
  --c-gray-200: #cfcfcf;
  --c-gray-300: #b1b1b1;
  --c-gray-400: #9e9e9e;
  --c-gray-500: #7e7e7e;
  --c-gray-600: #626262;
  --c-gray-700: #515151;
  --c-gray-800: #3b3b3b;
  --c-gray-900: #222222;

  --c-neutral-100: #f6f7f9;
  --c-neutral-200: #e5e7ea;
  --c-neutral-300: #ced2d6;
  --c-neutral-400: #9ea5ad;
  --c-neutral-500: #7f8790;
  --c-neutral-600: #676e76;
  --c-neutral-700: #596066;
  --c-neutral-800: #454c52;
  --c-neutral-900: #383f45;
  --c-neutral-1000: #24292e;

  --c-secondary-dark-red: #8f0031;
  --c-secondary-ochre-yellow: #f79b19;
  --c-secondary-sea-grean: #028fa3;
  --c-secondary-baby-blue: #00a8cc;
  --c-secondary-violet: #91198e;

  --c-yellow-100: #fff0b3;
  --c-yellow-200: #ffe380;
  --c-yellow-300: #ffc400;
  --c-yellow-400: #ffab00;
  --c-yellow-500: #ff991f;

  --c-red-100: #ffbdad;
  --c-red-200: #ff8f73;
  --c-red-300: #ff7452;
  --c-red-400: #ff5631;
  --c-red-500: #de350b;

  --c-blue-100: #b3f5ff;
  --c-blue-200: #79e2f2;
  --c-blue-300: #00c7e6;
  --c-blue-400: #00b8d9;
  --c-blue-500: #00a3bf;

  --c-violet-100: #e1c7e0;
  --c-violet-200: #d6a9d5;
  --c-violet-300: #c270c0;
  --c-violet-400: #c054be;
  --c-violet-500: #a239a0;

  --c-green-100: #abf5d1;
  --c-green-200: #57d9a3;
  --c-green-300: #36b37e;
  --c-green-400: #00875a;
  --c-green-500: #006644;

  --c-brown-dark: #a14132;
  --c-blue-dark: #46bec3;
  --c-red-dark: #f04466;
  --c-green-dark: #31774f;

  --c-orange-100: #ffe5e1;
  --c-orange-200: #ffccc2;
  --c-orange-300: #ffb2a4;
  --c-orange-400: #ff9985;
  --c-orange-500: #ff7f67;

  --c-success: #4ec69f;
  --c-info: #33a6c9;
  --c-warning: #ff9500;
  --c-danger: #fd5868;

  --c-check: #4dd8b1;
  --c-check-hover: #33d2a5;

  --c-edit: #ffb54d;
  --c-edit-hover: #ff9500;

  --c-cancel: #feacb4;
  --c-cancel-hover: #fd5868;
  --c-blue: #3e99dc;
  --c-red: #ff6962;

  --c-purple-dark: #3c1690;
  --c-purple-light: #ded7e9;

  --c-green-dark: #00c78f;
  --c-green-light: #c0ecde;

  --c-gold-dark: #f4ae6b;
  --c-gold-light: #f9e4d3;

  --c-chart-purple: #a982c2;

  /* Opaque */
  --c-black-opaque: #00000050;

  /* Backgrounds */
  --c-bg-white: #fff;
  --c-bg-table-header: #eee;
  --c-bg-gray-dark: #121212;

  /* Component border */
  --bs-spread: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 3px 1px rgb(60 64 67 / 15%);

  --c-shadow-focus: rgba(0, 0, 0, 0.16) 0px 1px 2px,
    rgb(51, 51, 51) 0px 0px 0px 2px;

  /* Width and Height */
  --w-max: 1366px;
  --h-max: 79px;
}
/* https://colors.eva.design/ buraya bakınabilirim */
