@import url("../../Assets/fonts/Gilroy/Gilroy.css");

.add-appt-container {
  box-sizing: border-box;
  height: 500px;
  width: 480px;
  font-weight: 500;
  font-family: "Gilroy", sans-serif !important;
  background: var(--c-bg-white);
  border-radius: 12px;
}
.add-appt {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.add-appt-title {
  font-size: large;
  margin-bottom: 30px;
}
.add-appt-body {
  height: 75%;
}

.add-appt-dates {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.add-appt-picker-container {
  height: 40px;
}

.add-appt-input-title {
  margin-bottom: 5px;
}

.add-appt-search-container {
  width: 100%;
}

.add-appt-footer {
}

.add-appt-date-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-appt-triplets-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.add-appt-triplets {
  width: 50%;
  margin-top: 20px;
}
.add-appt-dropdown {
  font-family: "Gilroy", sans-serif !important;
  font-size: 12px;
  padding-left: 5px;
  border-radius: 12px;
  height: 32px;
  border: 1px solid var(--c-border);
  width: 100%;
}

.add-appt-carer {
  margin-top: 20px;
}

.add-appt-footer {
  display: flex;
  justify-content: space-around;
}

.add-appt-btn-container-submit,
.add-appt-btn-container-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 120px;
  border-radius: 12px;
  cursor: pointer;
}

.add-appt-btn-container-cancel:hover {
  /* background */
}
.add-appt-btn-container-submit:hover {
  /* background */
}

.add-appt-dropdown {
  padding-right: 10px;
}

.add-appt-dropdown {
  -webkit-appearance: none;
  appearance: none;
}

/* Custom arrow */
.add-appt-dropdown {
  background-image: url("../../Assets/dropdown.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 2px);
}

@media (max-width: 767.98px) {
  .add-appt-container {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 100%;
    z-index: 4;
    align-self: flex-end;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .add-appt-date-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .add-appt-title {
    font-size: 28px;
    font-weight: 700;

    margin-top: 20px;
    margin-bottom: 50px;
  }
}
