@import url("../../Assets/fonts/Gilroy/Gilroy.css");
*,
*:before,
*:after {
  box-sizing: inherit;
}
.add-appt-container {
  box-sizing: border-box;
  height: 400px;
  width: 480px;
  font-weight: 500;
  font-family: "Gilroy", sans-serif !important;
  background: var(--c-bg);

  border-radius: 12px;
}
.add-appt {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.add-appt-title {
  font-size: large;
  margin-bottom: 30px;
}
.add-appt-body {
  height: 75%;
}

.add-appt-dates {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.add-appt-input-title {
  margin-bottom: 5px;
}

.add-appt-search-container {
}

.add-appt-footer {
}

.add-appt-date-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-appt-triplets-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.add-appt-triplets {
}
.add-appt-dropdown {
  font-family: "Gilroy", sans-serif !important;
  font-size: 12px;
  padding-left: 5px;
  border-radius: 12px;
  height: 32px;
  border: 1px solid var(--c-gray);
  width: 125px;
}

.add-appt-carer {
  margin-top: 20px;
}

.add-appt-footer {
  display: flex;
  justify-content: space-around;
}

.add-appt-btn-container-submit {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 120px;
  border-radius: 12px;
  cursor: pointer;
  background: var(--c-brand);
}

.add-appt-btn-container-cancel {
  color: var(--c-danger);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 120px;
  border-radius: 12px;
  cursor: pointer;
}

.add-appt-btn-container-cancel:hover {
  /* background */
}
.add-appt-btn-container-submit:hover {
  /* background */
}

.add-appt-dropdown {
  padding-right: 10px;
}

.add-appt-dropdown {
  -webkit-appearance: none;
  appearance: none;
}

/* Custom arrow */
.add-appt-dropdown {
  background-image: url("../../Assets/dropdown.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 2px);
}
