.appointment-table-container {
  position: relative;
  width: 100%;
  font-size: 14px;
}

.appointment-table {
  height: 50%;
  position: relative;
  width: 100%;
  border-spacing: 0;
  background: #f8f8f8;
}

.appointment-table th {
  font-weight: 600;
  font-size: 16px;
  height: 34px;
  background: #f8f8f8;
  text-align: left;
  padding-left: 8px;
}

.appointment-table th:not(:first-child) {
  text-align: center;
}
.appointment-table tr:not(:first-child) td:not(:first-child) {
  text-align: center;
}

.appointment-table th:nth-child(2) {
  width: 200px;
}

.appointment-table tr:nth-child(odd) td {
  background: #fcfcfc;
}

.appointment-table td {
  height: 48px;
  background: #fff;
  text-align: left;
  transition: background 0.2s ease-in-out;
  padding-left: 8px;
}

.appointment-table tr:hover td {
  background: #efefef;
  cursor: pointer;
}
