.appointment-table-container {
  position: relative;
  width: 100%;
  font-size: 14px;
}

.appointment-table {
  height: 50%;
  position: relative;
  width: 100%;
  border-spacing: 0;
}

.appointment-table th {
  color: var(--c-gray);
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 8px;
  border-bottom: 2px solid #f2f2f2;
}

.appointment-table td {
  height: 48px;
  background: #fff;
  text-align: left;
  transition: background 0.2s ease-in-out;
}

.appointment-table tr:hover td {
  background: #efefef;
  cursor: pointer;
}
