.upcoming-container {
  display: flex;
  flex-direction: column;
}

.upcoming-header {
  display: flex;
  height: 40px;
  align-items: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.upcoming-add-btn {
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-left: 70px;
  justify-content: center;
  border-radius: 12px;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}

.upcoming-list-container {
  display: flex;
  background: #f1f3fe;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  border-radius: 12px;
  color: #20295a;
}
