.searchfield-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid var(--c-border);
  border-radius: 12px;
}

.make-appt-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 50px;
  height: inherit;
}

.search-bar {
  border-radius: 12px;
  display: flex;
  width: 100%;
  align-items: center;
  height: 40px;
}

.search-bar input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0px;

  box-sizing: border-box;
  border: none;
  border-radius: 0px;
  padding-top: 4px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  flex: 1;
  outline: none;
  border-radius: 12px;
}
.found {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  box-shadow: var(--c-boxshadow);
}

.search-icon {
  color: var(--c-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  width: 40px;
  height: 100%;
}
.close-icon {
  display: none;
}

.found-patient-container {
  overflow: hidden;
  position: absolute;
  width: calc(100% + 2px);
  top: calc(100% - 1px);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  left: -1px;
  background: var(--c-bg-white);
  border: 1px solid var(--c-border);
  z-index: 1;
  box-shadow: var(--c-boxshadow);
}
.found-patient {
  display: flex;
  align-items: center;
  height: 45px;
  font-weight: 400;
}

.found-patient-name-container:hover {
  display: flex;
  align-items: center;
  height: 45px;
  padding-left: 5px;
  font-weight: 600;
  border-radius: 12px;
  color: var(--c-primary);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.found-patient-name-container {
  border-radius: 12px;
  color: var(--c-secondary);
  font-weight: 600;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  transition: 0.1s ease-in-out;
}

.found-patient-btns-container {
  color: var(--c-secondary);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: 0.1s ease-in-out;
}

.found-patient-make-appt-btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in-out;
  width: 40px;
}
.found-patient-make-appt-btn:hover {
  cursor: pointer;
  background: var(--c-violet-100);
  transition: 0.1s ease-in-out;
  color: var(--c-violet-500);
}

.found-patient-msg-btn {
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 0.1s ease-in-out;
  align-items: center;
  width: 40px;
}

.found-patient-msg-btn:hover {
  cursor: pointer;
  background: var(--c-green-100);
  transition: 0.1s ease-in-out;
  color: var(--c-green-500);
}

.found-patient-edit-btn {
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 0.1s ease-in-out;
  align-items: center;
  width: 40px;
}

.found-patient-edit-btn:hover {
  cursor: pointer;
  background: var(--c-yellow-100);
  transition: 0.1s ease-in-out;
  color: var(--c-yellow-500);
}

.search-icon:hover,
.close-icon:hover,
.searchfield-input {
  color: var(--c-neutral-1000);
}

.searchfield-input::placeholder {
  color: var(--c-secondary);
}

.searchfield-input:focus + .search-icon {
  color: var(--c-primary);
}

@media (max-width: 992px) {
  .search-icon {
    color: var(--c-neutral-200);
  }
  .close-icon {
    color: var(--c-neutral-200);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
  }

  .search-icon:hover,
  .close-icon:hover {
    color: var(--c-neutral-200);
    cursor: pointer;
  }
}
